<div class="user-menu-list-area">
  <ul class="user-menu-list">
      <li><%= link_to "アカウント", user_path, class: "text-primary" %></li>
      <li><%= link_to "フォロー", following_user_path, class: "text-primary" %></li>
      <li><%= link_to "フォロワー", followers_user_path, class: "text-primary" %></li>
  </ul>
</div>