<div class="user-menu-list-area">
  <ul class="user-menu-list">
      <li><%= link_to "アカウント", user_path(user_id), class: "text-primary" %></li>
      <li><%= link_to "フォロー", follow_path, class: "text-primary" %></li>
      <li><%= link_to "フォロワー", follower_path, class: "text-primary" %></li>
  </ul>
</div>