<div class="container">
  <div class="row">
    <%= render "goals_menu" %>
    <div class="col-lg-8 col-sm-12">
      <%= render "goals_list", goals: @goals %>
    </div>
    <div class="col-lg-2 col-sm-12">
    </div>
  </div>
</div>