/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*  共通部品  */

body {
  background-color: aliceblue;
  margin-top: 30px;
}

.form-area {
  background-color: white;
  padding: 30px;
}

/* 目標一覧  */

.goals-list {
  background-color: white;
  list-style: none;
}

.goal-link {
  text-decoration: none;
  color: black;
  font-size: 28px;
  display: block;
}

.goal {
  border-bottom: 2px solid aliceblue;
}

/* 目標詳細 */

.goal-title {
  font-size: 32px;
}

.goal-table, .task-table {
  background-color: white;
}

.goal-table tr th, .goal-table tr td {
  padding: 15px;
}

/* 目標登録 */
.task-form-area {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  margin-bottom: 15px;
}

.under-line {
  border-bottom: 1px solid gray;
  margin-bottom: 15px;
}

.btn-task-add {
  margin-bottom: 15px;
}