/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*  共通部品  */

body {
  background-color: aliceblue;
}

.form-area {
  background-color: white;
  padding: 30px;
}

.container {
  margin-top: 70px;
}

.bookmark-btn, .bookmark-btn img {
  display: inline-block;
  width: 30px;
  height: 30px;
  vertical-align: baseline;
  margin-left: 15px;
}

/* ヘッダ */

header {
  height: 50px;
  background-color: lightskyblue;
  margin-bottom: 30px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header-wrapper {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
}

.header-logo, .header-logo-img {
  height: 50px;
}

.header-right {
  display: flex;
  margin-top: 5px;
}

.header-user-icon, .user-icon {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor :pointer;
}

.user-icon-notification {
  position: absolute;
  top: -22px;
  left: 15px;
}

.btn-post {
  display: block;
  margin-right: 15px;
  height: 40px;
}

/*チェックは見えなくする*/
.hidden_box input {
  display: none;
}

/*中身を非表示にしておく*/
.hidden_box .hidden_show {
  height: 0;
  padding: 0;
  overflow: hidden;
  opacity: 0;
  transition: 0.8s;
}

/*クリックで中身表示*/
.hidden_box input:checked ~ .hidden_show {
  height: auto;
  opacity: 1;
}

.header-menu {
  list-style: none;
  background-color: white;
  text-align: left;
  z-index: 10;
  padding-inline-start: 0;
}

.header-menu li {
  padding: 10px;
}


/* 目標一覧  */

.goals-list {
  background-color: white;
  list-style: none;
}

.goal-link {
  text-decoration: none;
  color: black;
  font-size: 28px;
  display: block;
}

.goal {
  border-bottom: 2px solid aliceblue;
  display: flex;
  padding-bottom: 10px;
}

/* 目標詳細 */

.goal-title {
  font-size: 32px;
  display: block;
}

.goal-table, .task-table {
  background-color: white;
}

.goal-table tr th, .goal-table tr td {
  padding: 15px;
}

.btn-area {
  margin-top: 20px;
}

.comment-title {
  margin-top: 30px;
}

.comment-area {
  background-color: white;
  padding: 15px;
}

.comment-list {
  list-style: none;
}

/* 目標登録 */
.task-form-area {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
  margin-bottom: 15px;
}

.under-line {
  border-bottom: 1px solid gray;
  margin-bottom: 15px;
}

.btn-task-add {
  margin-bottom: 15px;
}

/* 課題詳細 */

.task-title {
  font-size: 32px;
}

.task-table {
  background-color: white;
}

.task-table tr th, .task-table tr td {
  padding: 15px;

}

/* ユーザー登録 */

.user-register {
  margin: 0 auto;
  max-width: 20%;
  text-align: center;
}

.user-register-form {
  width: 100%;
}

.user-register-btn {
  width: 100%;
  margin-bottom: 15px;
}

/* ユーザー詳細 */

.user-show-wrapper {
  display: flex;
}

.user-show-container {
  display: flex;
}

.user-menu-list-area {
  min-width: 15%;
  border-right: 1px solid gray;
}

.user-menu-list {
  display: block;
  margin-top: 40px;
  list-style: none;
}

.user-menu-list li {
  margin-bottom: 15px;
}

.user-menu-list li a {
  text-decoration: none;
}

.user-info-area {
  width: 100%;
  height: 800px;
  padding: 30px 100px 0px 0px;
}

.user-image, .user-image img {
  width: 200px;
  height: auto;
  margin: 0 auto;
  border-radius: 50%;
}

.user-info {
  max-width: 66%;
  margin-left: 200px;
  padding: 20px;
  background-color: white;
}

.user-edit-btn {
  width: 140px;
  margin-top: 20px;
}

.user-info-table {
  width: 100%;
}

.user-info-table tr {
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}

.user-info-table tr th {
  text-align: left;
  font-size: 14px;
  line-height: 18px;
  font-weight: 700;
  width: 200px
}

.user-info-table tr td {
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
}

.user-info-table tr th, .user-info-table tr td {
  padding: 20px 30px 20px 30px;
}

.btn-submit {
  margin-top: 15px;
}


/* フォロー・フォロワー */

.follow-list {
  list-style: none;
}

.follow-list li {
  border-bottom: 1px solid gray;
}

.follow-info {
  display: flex;
  padding: 15px;
  position: relative;
}

.user-info-small,
.follow-name,
.follow-intro {
  max-width: 280px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.follow-btn-area {
  position: absolute;
  top: 20px;
  left: 350px;
}

.follow-name {
  display: block;
}

.user-image-small, .user-image-small img {
  display: inline-block;
  width: 50px;
  height: auto;
  border-radius: 50%;
  margin-right: 10px;
}

.ranking-num h3{
  margin-top: 30px;
  margin-right: 15px;
}

.user-setting-list {
  text-decoration: none;
  list-style: none;
}

/* 通知画面 */

.info-area {
  background-color: white;
  padding: 15px;
  margin: 0 auto;
}

.notification-area {
  display: inline;
}

.notification {
  padding: 10px;
}

.notification:not(:last-child) {
  border-bottom: 1px solid gray;
}

.n-circle {
  color: red;
}

.far {
  font-size: 1.5em;
}
